{% extends "base.html" %}

{% block title %}
    Cack|投票
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .select-btn {
            margin-left: 2%;
        }

        .scroll-1::-webkit-scrollbar {
            width:15px;
            height:15px;
        }
        .scroll-1::-webkit-scrollbar-button    {
            background-color:#ffffff;
        }
        .scroll-1::-webkit-scrollbar-track     {
            background: #000000;
        }
        .scroll-1::-webkit-scrollbar-thumb{
            background:#e0e0e0;
        }
    </style>
{% endblock %}

{% block content %}  <!-- 内容区 -->

    <!-- 弹出层 -->
    <div class="ui large modal" id="add-vote-modal">
        <i class="close icon"></i>
        <div class="header">
            发起投票
        </div>
        <div class="image content">

            <div class="ui medium blurring dimmable image" id="add-vote-image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <h2 class="ui inverted header">投票图片</h2>
                            <div class="ui inverted button">上传</div>
                        </div>
                    </div>
                </div>
                <div id="cover_hidden_input">
                    <input type="file" name="file" hidden>
                </div>
                <img src="http://ojysw795f.bkt.clouddn.com/5924fd9ff3051f59f00721c3?imageMogr2/auto-orient/thumbnail/300x256!/format/png/blur/1x0/quality/75|imageslim">
            </div>

            <div class="description" style="width: 800px">
                <form class="ui large form" method="post" id="vote_info_form">
                    <div class="field">
                        <div class="ui transparent left icon input">
                            <input type="text" placeholder="标题">
                            <i class="edit icon"></i>
                        </div>
                    </div>

                    <div class="field">
                        <textarea name="description" placeholder="描述"></textarea>
                    </div>

                    <div class="field">
                        <div class="three fields">
                            <div class="field">
                                <div class="ui inline dropdown select-btn">
                                    <input type="hidden" name="v_category">
                                    <div class="text">
                                        <i class="filter icon"></i>
                                        分类
                                    </div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="ui icon search input" style="width: 200px">
                                            <i class="search icon"></i>
                                            <input type="text" placeholder="Search tags...">
                                        </div>

                                        <div class="scrolling menu scroll-1">
                                            <div class="item">
                                                <i class="filter icon"></i>
                                                分类
                                            </div>
                                            <div class="divider"></div>
                                            <div class="item" data-value="important">
                                                <div class="ui red empty circular label"></div>
                                                color_name
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="ui toggle checkbox" id="is-limitation">
                                    <input type="checkbox" name="v_limit">
                                    <label><strong>指定投票人</strong></label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="ui transparent left icon input">
                                    <input type="text" name="limitation" placeholder="人数">
                                    <i class="users icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label><strong>有效期</strong></label>
                        <div class="ui mini icon input">
                            <input class="" type="text" name="expired_at" data-beatpicker="true"
                               data-beatpicker-position="['*','*']"
                               data-beatpicker-disable="{from: {{ today }},to:'<'}"
                            />
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">取消</div>
            <div class="ui positive right labeled icon button">
                发起
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <!-- 投票列表 -->
    <div class="ui vertical segment">
        <div class="ui raised segment">
            <!-- 搜索框 -->
            <div class="ui left icon input">
                <input type="text" placeholder="搜索...">
                <i class="bar chart icon"></i>
            </div>

            <!-- 过滤类型 -->
            <div class="ui inline dropdown select-btn">
                <input type="hidden" name="v_category">
                <div class="text">
                    <i class="filter icon"></i>
                    分类
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="ui icon search input">
                        <i class="search icon"></i>
                        <input type="text" placeholder="Search tags...">
                    </div>

                    <div class="scrolling menu scroll-1">
                        <div class="item">
                            <i class="filter icon"></i>
                            分类
                        </div>
                        <div class="divider"></div>
                        <div class="item" data-value="important">
                            <div class="ui red empty circular label"></div>
                            color_name
                        </div>
                    </div>
                </div>
            </div>

            <!-- 过滤发起人 -->
            <div class="ui inline dropdown select-btn">
                <div class="text">
                    <i class="user icon"></i>
                    发起人
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="ui icon search input">
                        <i class="search icon"></i>
                        <input type="text" placeholder="Search tags...">
                    </div>

                    <div class="scrolling menu scroll-1">
                        <div class="item">
                            <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/small/jenny.jpg">
                            Jenny Hess
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/small/jenny.jpg">
                            Jenny Hess
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/small/jenny.jpg">
                            Jenny Hess
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/small/jenny.jpg">
                            Jenny Hess
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/small/jenny.jpg">
                            Jenny Hess
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/small/jenny.jpg">
                            Jenny Hess
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/small/jenny.jpg">
                            Jenny Hess
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/small/jenny.jpg">
                            Jenny Hess
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/small/jenny.jpg">
                            Jenny Hess
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar/small/jenny.jpg">
                            Jenny Hess
                        </div>
                    </div>
                </div>
            </div>

            <!-- 过滤已经关闭 -->
            <div class="ui toggle checkbox select-btn">
                <input type="checkbox" name="public">
                <label class="text">
                    <strong>过滤关闭的投票</strong>
                </label>
            </div>

            <!-- 搜索按钮 -->
            <div class="ui right floated buttons">
                <div class="ui black animated fade button">
                    <div class="visible content">搜索</div>
                    <div class="hidden content"><i class="search icon"></i></div>
                </div>
                <div class="or" data-text="or"></div>
                <div class="ui green animated fade button" id="add-vote">
                    <div class="visible content">发起</div>
                    <div class="hidden content"><i class="add icon"></i></div>
                </div>
            </div>

        </div>

        <div class="ui raised segment" style="text-align: center;">
            <div class="ui styled fluid accordion" style="margin-top: 1%;">

                <div class="vote">
                    <div class="title">
                        <a class="ui blue tag label">
                            <span title="分类">
                                <i class="spoon icon"></i>
                                Food
                            </span>
                            <span title="标题">
                                <i class="dropdown icon"></i>
                                What is a dog?What is a dog?What is a dog?What is a dog?
                            </span>
                        </a>

                        <div style="float: right">
                            <div class="ui horizontal label" title="投票发起人">
                                <i class="user icon"></i>
                                Cack
                            </div>

                            <div class="ui horizontal label" title="投票人数">
                                <i class="pie chart icon"></i>
                                100/100
                            </div>

                            <div class="ui horizontal label" title="投票时间">
                                <i class="clock icon"></i>
                                2017-03-14
                                --
                                2017-03-18
                            </div>

                            <div class="ui green horizontal label">
                                <i class="pin icon"></i>
                                已投票
                            </div>
                            <div class="ui yellow horizontal label">
                                <i class="coffee icon"></i>
                                投票关闭
                            </div>

                        </div>

                    </div>
                    <div class="content">
                        <div class="ui black segment">
                            is_closed
                        </div>
                    </div>
                </div>

            </div>

            <div class="ui black compact buttons" style="margin-top: 1%">
                <button class="ui button">1</button>
                <button class="ui button">2</button>
                <button class="ui button">3</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/vote/vote.js') }}"></script>
{% endblock %}