{% extends "base.html" %}

{% block title %}
    Cack|朋友
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .trend img {
            width: 24px;
            height: 24px;
        }
    </style>
{% endblock %}

{% block navigation %}
    {{ navigation(category) }}
{% endblock %}

{% block content %}  <!-- 内容区 -->
    <div >
        <div class="ui black stacked segment" style="position: fixed;height: 80%;width: 16%;left:2%;background-color: white;">
            <!-- 朋友列表 -->
            <a class="ui teal teal ribbon label">
                <i class="users icon"></i>朋友列表
            </a>
        </div>

        <div class="container" style="width: 60%;margin-left: 20%">
            <!-- 文本编辑器 -->
            {{ embed_html('embed_templates/editor.html') }}
        </div>

        <div class="ui piled segment" style="width: 60%;margin-left: 20%;">
            <a class="ui teal teal ribbon label">
                <i class="talk outline icon"></i>动态
            </a>

            <div class="ui basic center aligned segment">
                <div class="ui dimmer" id="trends-loading">
                    <div class="ui large text loader">Loading</div>
                </div>
                <h2 class="ui icon disabled header" id="no-trends">
                    <i class="frown icon"></i>
                    <div class="content">
                        没有动态
                    </div>
                </h2>

                <div id="trends">
                    <!-- 动态列表 -->
{#                    <div class="ui black raised segment">#}
{#                        <div class="ui feed">#}
{#                            <div class="event">#}
{#                                <div class="label">#}
{#                                    <img src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">#}
{#                                </div>#}
{#                                <div class="content">#}
{#                                    <div class="summary"><a class="user"> Elliot Fu </a> added you as a friend <div class="date">1 Hour Ago </div>#}
{#                                    </div>#}
{#                                    <div class="extra text">I'm having a BBQ this weekend. Come by around 4pm if you can.</div>#}
{#                                    <div class="meta">#}
{#                                        <a class="like"><i class="like icon"></i> 4 </a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="ui divider"></div>#}
{#                    </div>#}

                </div>
            </div>

        </div>
    </div>

{% endblock %}
