{% extends "base.html" %}

{% block title %}
    Cack|主页
{% endblock %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        body > .grid {
            height: 100%;
        }
        .column {
            max-width: 450px;
        }
        *{
		    margin: 0;
		    padding: 0;
		}
		body{
		    font: 14px/2 'Microsoft YaHei', 'Arial';
		}
		li{
		    list-style: none;
		}
		li img{
            width: 100%;
            height: 280px;
		    display: block;
		    margin: 0 auto;
		}
		.hiSlider{
		    overflow: hidden;
		    height: 280px;
		    width: 100%;
		    background: #eee;
		}
		.hiSlider-item{
		    float: left;
		}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.hiSlider.min.css') }}">
{% endblock %}

{% block content %}  <!-- 内容区 -->
    {% if current_user.is_authenticated %}
        <div class="ui vertical segment">
            <div class="ui raised segment" style="text-align: center">

                <ul class="hiSlider hiSlider1">
                    <li data-title="11111" class="hiSlider-item">
                        <a href="http://baidu.com" target="_blank">
                            <img src="{{ url_for('static', filename='images/1.jpg') }}" alt="11111">
                        </a>
                    </li>
                    <li data-title="22222" class="hiSlider-item">
                        <a href="http://baidu.com" target="_blank">
                            <img src="{{ url_for('static', filename='images/2.jpg') }}" alt="22222">
                        </a>
                    </li>
                    <li data-title="33333" class="hiSlider-item">
                        <a href="http://baidu.com" target="_blank">
                            <img src="{{ url_for('static', filename='images/3.jpg') }}" alt="33333">
                        </a>
                    </li>
                    <li data-title="44444" class="hiSlider-item">
                        <a href="http://baidu.com" target="_blank">
                            <img src="{{ url_for('static', filename='images/4.jpg') }}" alt="44444">
                        </a>
                    </li>
                    <li data-title="55555" class="hiSlider-item">
                        <a href="http://baidu.com" target="_blank">
                            <img src="{{ url_for('static', filename='images/5.jpg') }}" alt="55555">
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <h4 class="ui horizontal divider header"><i class="bar chart on icon"></i> 热门投票 </h4>

        <!-- 热门投票列表 -->
        <div class="ui raised segment">
            <a class="ui blue right ribbon label">
                <i class="ellipsis horizontal icon"></i> 更多
            </a>

            <div class="ui styled fluid accordion" style="margin-top: 1%">

                <div class="vote">
                    <div class="title">
                        <a class="ui blue tag label">
                            <span title="分类">
                                <i class="spoon icon"></i>
                                Food
                            </span>
                            <span title="标题">
                                <i class="dropdown icon"></i>
                                What is a dog?What is a dog?What is a dog?What is a dog?
                            </span>
                        </a>

                        <div style="float: right">
                            <div class="ui horizontal label" title="投票发起人">
                                <i class="user icon"></i>
                                Cack
                            </div>

                            <div class="ui horizontal label" title="投票人数">
                                <i class="pie chart icon"></i>
                                100/100
                            </div>

                            <div class="ui horizontal label" title="投票时间">
                                <i class="clock icon"></i>
                                2017-03-14
                                --
                                2017-03-18
                            </div>

                            <div class="ui green horizontal label">
                                <i class="pin icon"></i>
                                已投票
                            </div>
                            <div class="ui yellow horizontal label">
                                <i class="coffee icon"></i>
                                投票关闭
                            </div>

                        </div>

                    </div>
                    <div class="content">
                        <div class="ui black segment">
                            is_closed
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <h4 class="ui horizontal divider header"><i class="users icon"></i> TOP 10 </h4>

        <div class="ui raised segment" style="margin-bottom: 10%">
            <a class="ui teal right ribbon label">
                <i class="ellipsis horizontal icon"></i> 更多
            </a>

            <div class="ui five special cards" style="margin-top: 1%">

                <div class="black card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Add Friend</div>
                                </div>
                            </div>
                        </div>
                        <img src="http://www.semantic-ui.cn/images/avatar/large/steve.jpg">
                    </div>

                    <div class="content">
                        <a class="header">Team Fu &amp; Hess</a>
                        <div class="meta">
                            <a class="ui blue horizontal label">Fruit</a>
                            <a class="ui red horizontal label">Food</a>
                            <a class="ui yellow horizontal label">Sport</a>
                            <a class="ui teal horizontal label">Music</a>
                        </div>
                    </div>
                    <div class="extra content">
                        <a title="新建"><i class="add square icon"></i> 5 </a>
                        <a title="参与"><i class="check square icon"></i> 3 </a>
                    </div>
                </div>

            </div>
        </div>

    {% else %}
        {{ embed_html('auth/login.html') }}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/third_party/jquery.hiSlider.min.js') }}"></script>
    <script>
        $('#sign_up_icon').popup({
            position : 'right center',
            target   : '#sign_up_icon',
            title    : 'New to us?Sign Up'
        });
        $('.hiSlider1').hiSlider();
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth/login.js') }}"></script>
{% endblock %}