.ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
    background-color: #00B5AD!important;
    font-weight: 600;
}

.ui.toggle.checkbox input[type=checkbox]:checked~label {
    color: #00B5AD!important;
    font-weight: 600;
}

.ui.toggle.checkbox label {
    color: #000000!important;
    font-weight: 600;
}

.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: #00B5AD!important;
    font-weight: 600;
}