<div class="ui middle aligned center aligned grid">
    <div class="column">
        <form class="ui large form" style="margin-top: 60%" action="/login" method="post" id="login">
            <a class="ui right corner black label" id="sign_up_icon" href="{{ url_for('auth.signup') }}">
                <i class="edit icon" style="cursor: pointer"></i>
            </a>
            <div class="ui stacked black segment">
                <div class="field">
                    <div class="ui transparent left icon input">
                        <i class="mail icon"></i>
                        <input type="email" name="email" placeholder="E-mail address" onblur="blurRemoveErrorPrompt(this)">
                    </div>
                </div>
                <div class="field">
                    <div class="ui transparent left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" onblur="blurRemoveErrorPrompt(this)">
                    </div>
                </div>
                <div class="field">
                    <div class="ui transparent left icon input">
                        <i class="calculator icon"></i>
                        <input type="text" name="captcha" placeholder="Captcha(the result of right image)" onblur="blurRemoveErrorPrompt(this)" id="captcha_input">
                        <a style="cursor: pointer" onclick="getLoginCaptcha()"><img style="width: 80px;height: 24px" id="login_captcha"></a>
                    </div>
                </div>
                <div class="ui fluid transparent animated fade black submit button" onclick="submitLoginForm()">
                    <div class="visible content">Login</div>
                    <div class="hidden content">
                        <i class="sign in icon"></i>
                    </div>
                </div>
                <div style="margin-top: 2%;text-align: right">
                    <i class="search icon"></i><a style="cursor: pointer" onclick="showFindPasswordBox()">find password</a>
                </div>
            </div>
            <div class="ui error message"></div>
        </form>

        <div class="ui segment" id="find_pass_word" hidden>
            <form class="ui large form" id="find_pass_word_form">
                <div class="field">
                    <div class="ui transparent left icon input">
                        <i class="search icon"></i>
                        <input type="email" name="find_password_email" placeholder="Email" onblur="blurRemoveErrorPrompt(this)">
                        <div class="ui mini black submit button" onclick="submitFindPasswordForm(this)">Send email</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="ui icon warning message" id="loading_message" style="display: none">
            <i class="notched circle loading icon"></i>
            <div class="content">
                <p>Email has been sent, check your email.</p>
            </div>
        </div>
    </div>
</div>