{% extends "base.html" %}

{% block title %}
    Cack|重设密码
{% endblock %}

{% block content %}
    <div class="ui main container" style="top: 10%;position: relative">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <form class="ui piled segment form" id="find-password-form" action="{{ request.url }}" method="post">
                    <h3 class="ui teal image header">
                        <img src="{{ url_for('static', filename='icon/cack.ico') }}" class="image">
                        <div class="content">
                            重设密码
                            <i class="refresh icon"></i>
                        </div>
                    </h3>
                    <div class="field">
                        <input type="password" name="password" placeholder="新密码">
                    </div>
                    <div class="field">
                        <input type="password" name="confirm" placeholder="重复密码">
                    </div>
                    <div class="ui submit teal button" id="find-password-submit">重设密码</div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/auth/find_password.js') }}"></script>
{% endblock %}