{% extends "base.html" %}

{% block title %}
    Cack|注册
{% endblock %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        body > .grid {
            height: 100%;
        }
        .column {
            max-width: 450px;
        }
    </style>
{% endblock %}

{% block content %}  <!-- 内容区 -->
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui large form" style="margin-top: 30%" action="/signup" method="post" id="signup">

                <h2 class="ui header">
                    <i class="edit icon"></i>
                    <div class="content">
                        Sign Up
                        <div class="sub header">
                            Join us, enjoy life.
                        </div>
                    </div>
                </h2>

                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui transparent left icon input">
                            <i class="mail icon"></i>
                            <input type="email" name="email" placeholder="Common E-mail" required onblur="blurRemoveErrorPrompt(this)">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui transparent left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password" onblur="blurRemoveErrorPrompt(this)">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui transparent left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="confirm" placeholder="Confirm Password" onblur="blurRemoveErrorPrompt(this)">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui transparent left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickname" placeholder="Nickname" onblur="blurRemoveErrorPrompt(this)">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui transparent left icon input">
                            <i class="keyboard icon"></i>
                            <input type="text" name="captcha" placeholder="Captcha" onblur="blurRemoveErrorPrompt(this)">
                            <button class="ui mini button" type="button" onclick="sendCaptcha(this)">Send captcha</button>
                        </div>
                    </div>
                    <div class="ui fluid transparent animated fade black submit button" onclick="submitForm()">
                        <div class="visible content">Submit</div>
                        <div class="hidden content">
                            <i class="write icon"></i>
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}  <!-- js脚本区 -->
    {{ super() }}
    <script src="{{ url_for('static', filename='js/auth/signup.js') }}"></script>
{% endblock %}